<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
        <h1 class="display-4">Type a city</h1>
        <input type="text" class="form-control" placeholder="Enter city">
        <button type="button" class="btn btn-primary">Get the weather</button>
      </div>
      <div class="col-md">

      </div>

    </div>
    <br>

    <div class="row">
      <div class="col-md">
        <div class="card text-center">
          <div class="card-header">
            Alajuela
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/clear.gif" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Clouds</h5>
                    <p class="card-text">broken clouds</p>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Clima</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Temperatura: 21</li>
                    <li class="list-group-item">Presión: 1019</li>
                    <li class="list-group-item">Humedad: 94</li>
                    <li class="list-group-item">Temperatura Mínima: 21</li>
                    <li class="list-group-item">Temperatura Máxima: 21</li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Otros</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Velocidad del Viento: 1.5</li>
                    <li class="list-group-item">Visibilidad: 10000</li>
                    <li class="list-group-item">País: CR</li>
                    <li class="list-group-item">Código de Ciudad: 200</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>