<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md">
        <h1 class="display-4">Type a city</h1>
        <input type="text" class="form-control" placeholder="Enter city"[(ngModel)]="cityName">
        <button type="button" class="btn btn-primary" (click)= getWeather(cityName)>Get the weather</button>
      </div>
      <div class="col-md">

      </div>

    </div>
    <br>

    <div class="row" *ngIf="weatherResult">
      <div class="col-md">
        <div class="card text-center">
          <div class="card-header">
            {{weatherResult.name}}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../assets/{{weatherResult.weather}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{weatherResult.weather[0].main}}</h5>
                    <p class="card-text">{{weatherResult.weather[0].description}}</p>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Clima</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Temperatura: {{weatherResult.main.temp}}</li>
                    <li class="list-group-item">Presión: {{weatherResult.main.pressure}}</li>
                    <li class="list-group-item">Humedad: {{weatherResult.main.humidity}}</li>
                    <li class="list-group-item">Temperatura Mínima: {{weatherResult.main.temp_min}}</li>
                    <li class="list-group-item">Temperatura Máxima: {{weatherResult.main.temp_max}}</li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Otros</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Velocidad del Viento: {{weatherResult.wind.speed}}</li>
                    <li class="list-group-item">Visibilidad: {{weatherResult.visibility}}</li>
                    <li class="list-group-item">País: {{weatherResult.sys.country}}</li>
                    <li class="list-group-item">Código de Ciudad: {{weatherResult.cod}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>